<?xml version="1.0" encoding="UTF-8"?>

<configuration status="info">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} [%5p] [%t] %c{1.}:%L - %m%n"/>
        </Console>
        <File name="Logs" fileName="logs/logs.log" append="false">
            <PatternLayout pattern="%d{ABSOLUTE} [%5p] [%t] %c{1}:%L - %m%n"/>
        </File>

    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
<!--            <appender-ref ref="Logs"/>-->
        </root>
    </loggers>
</configuration>